@font-face {
  font-family: 'Roboto-Regular';
  src: url('../Fonts/Roboto-Regular.ttf') format('truetype');
}
p {
  clear: both;
  min-height: 1em;
  margin: 0;
  min-height: 10px;
}
.client-info-table {
  font-family: Roboto-Regular;
  width: 650px;
  max-width: 650px;
}
.client-info-table thead {
  background-color: #E7E6E6;
  font-weight: bold;
}
.client-info-table tbody tr.even {
  background-color: #F0FAFF;
}
.client-info-table tbody td.title {
  color: #3399CC;
  border-bottom: 1px solid #E7E6E6;
  border-top: 1px solid #E7E6E6;
  font-weight: bold;
}
.client-info-table tbody td.description {
  border-bottom: 1px solid #E7E6E6;
  border-top: 1px solid #E7E6E6;
  border-left: 1px solid #E7E6E6;
}
.btn-orange {
  background: #ea5e35;
  color: white;
  border: 1px solid #ea5e35;
  min-width: 120px;
  outline: none;
}
.btn-orange a {
  color: white;
}
.btn-orange:hover {
  border: 1px solid #ea5e35;
}
.invite-footer {
  background-color: #eaecef;
}
.invite-footer td {
  height: 100px;
}
.invite-footer div {
  min-height: 100px;
}
.questionnaire-button {
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #EA650D;
  display: block;
}
.questionnaire-button a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
}
.questionnaire-button a span {
  color: white;
}