@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = Views.LoginLayout;
}

<div class="content">
    <div class="text-center">
        Please check your email to reset your password.
        @Html.ActionLink("Click here to login", "Login", "Account")
    </div>
</div>
