@{
    ViewBag.Title = "Reset password confirmation";
    Layout = Views.LoginLayout;
}

<div class="content">
    <div class="text-center">
        @Html.ActionLink("Your password has been set. Please click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>
