@model OnlineSpreadsheet.Web.ViewModels.Home.HomeVM
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron home ">
    <h1 class="home-title">Online-Spreadsheet</h1>
    <p class="summary">Application for uploading files and editing excel files </p>
    <br />
    <div class="row ">
        <div class="col-md-4 panel panel-success">
            <h3 class="km-bold-font">
                Total users count: @Model.UsersCount
            </h3>
        </div>
        <div class="col-md-4 panel panel-success">
            <h3>
                Total Files uploaded: @Model.UploadedFilesCount
            </h3>
        </div>
    </div>
</div>