<script type="text/x-kendo-template" id="windowTemplateSecond">
    <p>
        @Resources.DeleteConfirmation <strong>#= Name #</strong>?
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-right">
        <button class="k-button" id="btnCancelSecond">@Resources.Cancel</button>
        <button class="k-button k-primary" id="btnDeleteSecond">@Resources.Delete</button>
    </div>
</script>
