@if (ViewBag.User.HasAccess(AccessRequest.ProjectFilesRead))
{
    <div class="dropdown">
        <a href="/ProjectFiles/Index" class="btn btn-default dropdown-toggle" type="button" id="project-files">
            @Resources.ProjectFiles
        </a>
    </div>
}
@if (ViewBag.User.HasAccess(AccessRequest.ConfigurationRead) )
{
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @Resources.Configuration
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="admin">
            @if (ViewBag.User.HasAccess(AccessRequest.UsersRead))
            {
                <li>
                    <a href="/Users/Index">@Resources.ManageUsers</a>
                </li>
            }
        </ul>
        <ul class="dropdown-menu" aria-labelledby="admin">
            @if (ViewBag.User.HasAccess(AccessRequest.ConfigurationRead))
            {
                <li>
                    <a href="/Home/Admin">@Resources.SystemConfiguration</a>
                </li>
            }
        </ul>
    </div>
}
